@import "tailwindcss";
@import "primeicons/primeicons.css";

.hover{
  @apply hover:cursor-pointer hover:scale-105 transition duration-300 ease-in-out
}

.hover110{
  @apply hover:cursor-pointer hover:scale-110 transition duration-300 ease-in-out
}

.hover125{
  @apply hover:cursor-pointer hover:scale-125 transition duration-300 ease-in-out
}

.gradient-text-green{
  @apply text-transparent bg-clip-text bg-gradient-to-r from-green-500 via-green-800 to-blue-400
}
.gradient-blue-button{
  @apply bg-gradient-to-r from-blue-500 to-blue-900 hover:from-blue-900 hover:to-blue-500
}

/*! CSS ========================================================== */
/* Works in most modern browsers */
::-webkit-scrollbar {
  width: 8.5px;
  height: 8.5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #494949; /* black */
  border-radius: 3px;
}

/* Optional: scrollbar corner */
::-webkit-scrollbar-corner {
  background: transparent;
}
/* Scroll Behavior*/
html {
  scroll-behavior: smooth;
  background-color: #181818;
  color: white;
}

/** Animation CSS ========================================================== */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.85s ease-out forwards;
}

.fade-in-left {
  animation: fadeInLeft 0.85s ease-out forwards;
}
.fade-in-left {
  animation: fadeInLeft 1.35s ease-out forwards;
}

.fade-in-right {
  animation: fadeInRight 0.85s ease-out forwards;
}

.fade-in-up {
  animation: fadeInUp 0.85s ease-out forwards;
}

.fade-in-down {
  animation: fadeInDown 0.85s ease-out forwards;
}
/** Animation CSS ========================================================== */